@using Microsoft.Extensions.Configuration;
@inject IConfiguration config;

@{
    var AppTitle = config.GetValue<string>("AppSettings:Title");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - @AppTitle</title>
    <link rel="icon" href="~/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="~/components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/AdminLTE.css">
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/allskin.css">
    <link rel="stylesheet" href="~/css/spacing.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @RenderSection("css", false)
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <!-- Navbar -->
    <div class="wrapper">
        <header class="main-header">
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-user"></i>
                                <span class="hidden-xs">@User.Identity.Name</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-footer">
                                    <a asp-controller="Home" asp-action="LogOut" class="btn btn-default"><i class="fa fa-power-off text-red"></i>Sign out</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                @*<a href="#" class="logo">
                        <span class="logo-mini"><img src="~/images/Brand/logo.png"></span>
                        <span class="logo-lg"><img src="~/images/Brand/logo.png"></span>
                    </a>*@
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="side-menu-item">
                        <a asp-controller="Home" asp-action="Index">
                            <i class="fa fa-home"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        @*<li class="treeview side-menu-item">
                <a href="javascript:void(0)">
                    <i class="fa fa-cog"></i> <span>Settings</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a asp-controller="Admin" asp-action="EmailSettings"><i class="fa fa-envelope-o"></i>Email Settings</a></li>
                    <li><a asp-controller="Admin" asp-action="SMSSettings"><i class="fa fa-comment-o"></i>SMS Settings</a></li>
                </ul>
            </li>*@
                        <li class="treeview side-menu-item">
                            <a href="javascript:void(0)">
                                <i class="fa fa-cogs"></i> <span>Manage</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li class="submenu-link"><a asp-controller="Dashboard" asp-action="Categories"><i class="fa fa-tasks"></i>Job Categories</a></li>
                                <li class="submenu-link"><a asp-controller="Dashboard" asp-action="Jobs"><i class="fa fa-tasks"></i>Jobs</a></li>
                                <li class="submenu-link"><a asp-controller="Dashboard" asp-action="Users"><i class="fa fa-user"></i>Users</a></li>
                                <li class="submenu-link"><a asp-controller="Dashboard" asp-action="PersonalDetails"><i class="fa fa-user"></i>Personal Details</a></li>
                            </ul>
                        </li>
                        <li class="treeview side-menu-item">
                            <a href="javascript:void(0)">
                                <i class="fa fa-cogs"></i> <span>Applications</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li class="submenu-link"><a asp-controller="Dashboard" asp-action="ApplicationRequests"><i class="fa fa-history"></i>Requests</a></li>
                                <li class="submenu-link"><a asp-controller="Dashboard" asp-action="ApplicationProcessed"><i class="fa fa-history"></i>Processed</a></li>
                                <li class="submenu-link"><a asp-controller="Dashboard" asp-action="ApplicationCompleted"><i class="fa fa-history"></i>Completed</a></li>
                                <li class="submenu-link"><a asp-controller="Dashboard" asp-action="ApplicationCancelled"><i class="fa fa-history"></i>Cancelled</a></li>
                                <li class="submenu-link"><a asp-controller="Dashboard" asp-action="PaymentHistories"><i class="fa fa-history"></i>Payment History</a></li>
                            </ul>
                        </li>
                        <li class="treeview side-menu-item">
                            <a href="javascript:void(0)">
                                <i class="fa fa-cogs"></i> <span>Documents</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li class="submenu-link"><a asp-controller="Dashboard" asp-action="Documents"><i class="fa fa-history"></i>Personal</a></li>
                                <li class="submenu-link"><a asp-controller="Dashboard" asp-action="QualificationDocuments"><i class="fa fa-history"></i>Qualification</a></li>
                                <li class="submenu-link"><a asp-controller="Dashboard" asp-action="Experiences"><i class="fa fa-history"></i>Experience</a></li>
                            </ul>
                        </li>
                        <li class="treeview side-menu-item">
                            <a href="javascript:void(0)">
                                <i class="fa fa-cogs"></i> <span>Notification</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li class="submenu-link"><a asp-controller="Dashboard" asp-action="ServiceNotification"><i class="fa fa-tasks"></i>Upcoming Services</a></li>    
                            </ul>
                        </li>
                    }

                </ul>
            </section>
            <div class="sidebar-footer">
                <a style="text-align:center; width:100%" asp-controller="Home" asp-action="LogOut" class="link" data-toggle="tooltip" title="Logout" data-original-title="Sign out"><i class="fa fa-power-off"></i></a>
            </div>
        </aside>
   
                @RenderBody()

        <footer class="main-footer">
            <strong>Copyright &copy; 2021 <span>@AppTitle</span>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Developed By</b>
                <a target="_blank" href="http://www.quickapptechnologies.com">Quick App Technologies</a>
            </div>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            var checkbox = $('table tbody input[type="checkbox"]');
            $("#selectAll").click(function () {
                if (this.checked) {
                    checkbox.each(function () {
                        this.checked = true;
                    });
                } else {
                    checkbox.each(function () {
                        this.checked = false;
                    });
                }
            });
            checkbox.click(function () {
                if (!this.checked) {
                    $("#selectAll").prop("checked", false);
                }
            });
        });
        function highlightMenuItem(text, subMenuText) {
            const sideMenuItems = document.querySelectorAll('.side-menu-item');
            sideMenuItems.forEach(item => {
                const spanText = item.querySelector("span").innerHTML;
                if (spanText == text) {
                    item.classList.add('active');
                }
            });
            const subMenuItems = document.querySelectorAll('.submenu-link');
            subMenuItems.forEach(item => {
                const aText = item.querySelector("a").innerHTML;
                const i = aText.indexOf("</i>")
                const subMenuItemText = aText.substring(i + 4)
                if (subMenuItemText === subMenuText) {
                    item.classList.add("active")
                }
            })
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="~/components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/components/input-mask/jquery.inputmask.js"></script>
    <script src="~/components/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/components/input-mask/jquery.inputmask.extensions.js"></script>
    <script src="~/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/components/fastclick/lib/fastclick.js"></script>
    <script src="~/assets/js/adminlte.min.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>


<!-- Delete Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="text-secondary">Are you sure to Delete ?</h4>
            </div>
            <div class="modal-footer">
                <span id="DeleteAlert" class="text-left col-7 text-danger"></span>
                <a id="DeleteBtn" href="" class="btn btn-primary">Yes</a>
                <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i>Cancel</button>
            </div>
        </div>
    </div>
</div>