@model IEnumerable<rojgar.Models.ApplicationHistory>

@{
    ViewData["Title"] = "Application History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div asp-validation-summary="All" class="text-danger"></div>


<div class="content-wrapper">
    <section class="content-header">
        <h1>Application Request</h1>
        <ol class="breadcrumb">
            <li><a href="index.html"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Application Request</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.JobPost)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Category)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FormFee)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FormFillingFee)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AdmitCardFee)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Remark)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.User)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TimeStamp)
                                    </th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.JobPost.JobPostName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Category)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FormFee)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FormFillingFee)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AdmitCardFee)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Remark)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.User.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TimeStamp)
                                    </td>
                                    <td>
                                        <a href="#" onclick="handleUpdateStatusId(@item.Id)" data-toggle="modal" data-target="#UpdateStatusModal">Update Status</a> |
                                        <a asp-action="ApplicationDetail" asp-route-id="@item.Id">Details</a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="modal fade" id="UpdateStatusModal" tabindex="-1" role="dialog" aria-labelledby="UpdateStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="Dashboard" asp-action="UpdateApplicationStatus">
                <input type="hidden" id="updateStatusId" name="Id" />
                <input type="hidden" name="ReturnUrl" value="ApplicationRequests" />
                <div class="modal-header">
                    <h5 class="modal-title" id="UpdateStatusModalLabel">Update Status</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Status">Status</label>
                        <select class="form-control" id="Status" name="Status">
                            <option>--Select--</option>
                            <option value="Processed">Processed</option>
                            <option value="Completed">Completed</option>
                            <option value="Cancelled">Cancel</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Remark">Remark</label>
                        <textarea class="form-control" id="Remark" name="Remark" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        highlightMenuItem("Applications", "Requests");
    </script>
    <script>
        function handleUpdateStatusId(id) {
            $("#updateStatusId").val(id)
        }
    </script>
}